<?xml version="1.0" encoding="UTF-8"?>
<SystemProperties>
  <SystemName>VIRTUAL_CTRL_15000-100072</SystemName>
  <SerialNo>VIRTUAL_CONTROLLER</SerialNo>
  <UsedMedia>
    <Media path="C:/Users/saral/AppData/Local/ABB/RobotWare/RobotControl_7.8.0" name="RobotControl" version="7.8.0+217" versionName="7.8.0"/>
    <Media path="C:/Users/saral/AppData/Local/ABB/RobotWare/RobotOS_7.0.1" name="RobotOS" version="7.0.1+0" versionName="7.0.1"/>
    <Media path="C:/Users/saral/AppData/Local/ABB/RobotWare/Robots_1.8.0" name="Robots" version="1.8.0+42" versionName="1.8.0"/>
    <Media path="C:/Users/saral/AppData/Local/ABB/RobotWare/ASI_1.0.6" name="ASI" version="1.0.6" versionName="1.0.6"/>
    <Media path="C:/Users/saral/AppData/Local/ABB/RobotWare/Wizard_1.5.0" name="Wizard" version="1.5.0" versionName="1.5.0"/>
  </UsedMedia>
  <ControlModule>
    <Option descr="UDPUC Driver"/>
    <Option descr="Leadthrough"/>
    <Option descr="No Category 0"/>
    <Option descr="Safe Move Plug and Play"/>
    <Option descr="English"/>
    <Option descr="3121-1 RW Add-In Prepared"/>
    <Option descr="3150-1 Collision Avoidance"/>
    <Option descr="3107-1 Collision Detection"/>
    <Option descr="3024-2 EtherNet/IP Adapter"/>
    <Option descr="3024-1 EtherNet/IP Scanner"/>
    <Option descr="3120-2 FlexPendant Essential App Package"/>
    <Option descr="3151-1 FlexPendant Program Package"/>
    <Option descr="3038-1 Force Control Interface"/>
    <Option descr="3044-2 Keyless Mode Switch, 2 modes"/>
    <Option descr="3114-1 Multitasking"/>
    <Option descr="3113-1 Path Recovery"/>
    <Option descr="3119-1 RobotStudio Connect"/>
    <Option descr="3043-3 SafeMove Collaborative"/>
    <Option descr="3106-1 World Zones"/>
    <Option descr="RobotControl Base"/>
    <Option descr="3124-1 Externally Guided Motion (EGM)"/>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Motor Commutation"/>
    <Option descr="Service Info System"/>
    <Option descr="C30-D7 for CRB 15000"/>
  </DriveModule>
  <AdditionalOption>
    <Name>Robots</Name>
    <Option descr="CRB 15000-5/0.95"/>
  </AdditionalOption>
  <AdditionalOption>
    <Name>ASI</Name>
    <Option descr="ASI"/>
  </AdditionalOption>
  <AdditionalOption>
    <Name>Wizard</Name>
    <Option descr="Wizard"/>
  </AdditionalOption>
</SystemProperties>
